{% extends "base.html" %}

{% load static %}

{% block navtop %}
<header>
<!--Navbar-->
        <nav class="navbar fixed navbar-expand-lg navbar-dark warning-color ">
            <!-- SideNav slide-out button -->
<a href="#" data-activates="slide-out" class="p-3 button-collapse"><i class="fa fa-bars"></i></a>

<!-- SideNav Menu -->
<ul id="slide-out" class="side-nav warning-color-dark custom-scrollbar">

    <!-- Logo -->
    <li>
        <div class="logo-wrapper waves-light" style="height: 200px">
            <a href="#"><img src="{% static 'img/SPC.png' %}" class="img-fluid flex-center" style="width:100%; margin-left:auto; margin-right:auto"></a>
            <br><br><h4 class="text-center">Sistema de Priorización de Comunidades</h4>
        </div>
    </li>    

    <!-- Side navigation links -->
    <li>
        <ul class="collapsible collapsible-accordion">

            <!-- Collapsible link -->
            <li><a href="{% url 'all_comunidades' %}" class="waves-effect arrow-r"><i class="fa fa-check"></i> Comunidades</a></li>
            <li><a href="{% url 'capa_comunidad' %}" class="waves-effect arrow-r"><i class="fa fa-check"></i> Comunidades Priorizadas</a></li>    

        </ul>
    </li>
    <!-- Side navigation links -->

</ul>
<!-- SideNav Menu -->
                    <img src="{% static 'img/imagen1.png' %}" style="width: 10%;" alt="">
                    <a style="margin-left:10px; padding:10px" class="navbar-brand" href="/">Inicio</a>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{uausuario}} </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                                    <a class="dropdown-item" href="/account/blockscreen/">Bloquear Pantalla</a>
                                    <a class="dropdown-item" href="/account/logout/">Cerrar Sesión</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
        <!--/.Navbar-->
</header>
{% endblock %}
{% block container %}
<div class="container-fluid mimin-wrapper">
      <div id="left-menu">
      {% block navbar %}{% endblock %}
      </div>
       
      <div id="content">   
      {% block info %}{% endblock %}
      </div>
</div>
{% endblock %}