{% extends "base_in.html" %}
{% load static %}  
{% block container %}
<div class="container">
    <div class="text-center">
    	<br><h1 style="font-weight:bold">Sistema de Priorización de Comunidades</h1>
        <img src="{% static 'img/SPC.png' %}" class="img-fluid flex-center" style="width:30%; margin-left:auto; margin-right:auto">
    </div>
        <div class="row">
           
            <div class="col-md-6">
                <div class="card1">
                    <div class="card1-block">
                        <h4 class="card1-title mt-3">Desarrollo Social Comunitario</h4>
                        <div class="meta">
                            <a>DSC</a>
                        </div>
                        <div class="card1-text">
                            Ver y/o priorizar las comunidades a partir de criterios dados.
                        </div>
                    </div>
                    <div class="card1-footer">
                        <button data-toggle="modal" data-target="#myModal2" class="btn btn-info float-right btn-sm">Ver Más</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card1">
                    <div class="card1-block">
                        <h4 class="card1-title mt-3">Usuarios</h4>
                        <div class="meta">
                            <a>Gestionar</a>
                        </div>
                        <div class="card1-text">
                            Ver todos los usuarios con sus respectivos permisos
                        </div>
                    </div>
                    <div class="card1-footer">
                        <a href="/principal/usuarios/" class="btn btn-info float-right btn-sm">Ver Más</a>
                    </div>
                </div>
            </div>


	<div id="myModal2" class="modal fade">
	  <div class="modal-dialog modal-lg bmd-modal-dialog">
	    <div class="modal-content bmd-border-info">
	      <div class="modal-header bmd-bg-info">
	        <button type="button" class="close btn-link bmd-flat-btn bmd-flat-btn-light" data-dismiss="modal" aria-hidden="true">×</button>
	        <h4 class="modal-title bmd-text-cyan-100">Desarrollo Social Comunitario</h4>
	      </div>
	      <div class="modal-body">
	        
	        <div  class="row">
                <!--Card-->
                <div class="card card-cascade wider reverse my-4">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img style="width:70%; margin-left:auto;margin-right:auto" src="http://lacomunidadviacelere.com/img/paginas/comunidad2.jpg" class="img-fluid">
                        <a href="#!">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title-->
                        <h4 class="card-title"><strong>Priorización</strong></h4>

                        <p class="card-text">Priorizar comunidades a partir de distintos criterios para su respectivo análisis e importancia.
                        </p>

                        <a href="{% url 'all_comunidades' %}" class="btn btn-outline-success btn-rounded waves-effect"><i class="fa fa-check pr-2" aria-hidden="true"></i>Acceder</a>   

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>

	      </div>
	     
	    </div>
	  </div>
	</div>


</div>
 
{% endblock  %}