{% extends "base_in.html" %}

{% block info %}


<div class="container" align="center">
<br>
	
		<div style="border: 2px solid #D3D0D0" class="col-sm-6 col-md-8 col-lg-12 mt-4">
			<br>
			<h1 class="rotateIn">Priorizar todas las comunidades</h1><br>
	
	
			<form id="priorizar_nuevo" action="/principal/priorizar/add/" method="post" onsubmit="selecciona('comu')">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-6">
					<h1 >Criterios</h1>
					<br>
					<div class="form-group">
				        <label for="comu">Comunidadades a Evaluar</label>
				        <select name="comu[]" style="width:100%" id="comu" class="js-example-basic-multiples selectpicker" multiple="multiple" required>
				            <option value="" disabled selected>Seleccione</option>
				          {% for a in comu %}
				                <option value="{{ a.id }}" selected="">{{ a }}</option>
				            {% endfor %}
				        </select>
				    </div>

				<hr>
				
				</div>

				<div class="col-md-3">
			    <div class="form-group agua">
			        <h6 for="valoragua">Valor o Porcentaje del Criterio Agua</h6>
			        <input type="number" id="valoragua" min="0" value="0" max="100" name="valoragua" class="form-control" onblur="mensaje()">
			    </div>
			    <div class="form-group tone">
			        <h6 for="valortone">Valor o Porcentaje del Criterio Toneladas Cosechadas</h6>
			        <input type="number" id="valortone" min="0" value="0" max="100" name="valortone" class="form-control" onblur="mensaje()">
			    </div>
			    <div class="form-group ruta">
			        <h6 for="valorruta">Valor o Porcentaje del Criterio Ruta Cañera</h6>
			        <input type="number" id="valorruta" min="0" value="0" max="100" name="valorruta" class="form-control" onblur="mensaje()">
			    </div>
			    </div>
			    <div class="col-md-3">
			    <div class="form-group qmi">
			        <h6 for="valorqmi">Valor o Porcentaje del Criterio QMI</h6>
			        <input type="number" id="valorqmi" min="0" value="0" max="100" name="valorqmi" class="form-control" onblur="mensaje()">
			    </div>
			    <div class="form-group proce">
			        <h6 for="valorproce">Valor o Porcentaje del Criterio de Procedencia</h6>
			        <input type="number" id="valorproce" min="0" value="0" max="100" name="valorproce" class="form-control" onblur="mensaje()">
			    </div>
			    <div class="form-group pi">
			        <h6 for="valorproce">Valor o Porcentaje del Criterio de Productores Independientes</h6>
			        <input type="number" id="valorpi" min="0" value="0" max="100" name="valorpi" class="form-control" onblur="mensaje()">
			    </div>
			    </div>
			    </div>
				<div class="form-group">
					<input type="submit" id="send" value="Priorizar" class="btn info-color-dark">
				</div>
			</form>
	         <!--Total: <input id="mensaje" class="text-right">-->
		</div>

	</div>	

	
{% endblock %}

{% block js %}
    <script>
	   $(document).ready(function(){

		    $('#send').click(function(){
	    		var _valoragua = $('#valoragua').val()
				var _valorruta = $('#valorruta').val()
				var _valorqmi = $('#valorqmi').val()
				var _valorproce = $('#valorproce').val()
				var _valorpi = $('#valorpi').val()
				var _valortone = $('#valortone').val()
				var _comu = $('#comu').val()
				var _id = $('#id').val()
				var csfrm = $('input[name=csrfmiddlewaretoken]').val()

				var _total = parseInt(_valoragua) + parseInt(_valorproce) + parseInt(_valorpi) + parseInt(_valorqmi) + parseInt(_valorruta) + parseInt(_valortone)
				if (_total > 100) {
					alert('Ha excedido el limite de calificación')
					return false
				}
			})

	   })

    </script>
{% endblock js %}